In [23]:
import pandas as pd

In [45]:
df = pd.read_csv("D:\python\Liner_regretion_algo\homeprices.csv")

In [46]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le = LabelEncoder()

In [49]:
df.town = le.fit_transform(df.town)

In [50]:
df

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [51]:
x =df[['town' , 'area']]

In [53]:
x

    town  area
0      0  2600
1      0  3000
2      0  3200
3      0  3600
4      0  4000
5      2  2600
6      2  2800
7      2  3300
8      2  3600
9      1  2600
10     1  2900
11     1  3100
12     1  3600

In [54]:
y = df.price

In [55]:
from sklearn.preprocessing import OneHotEncoder

In [56]:
ohe = OneHotEncoder(handle_unknown='ignore')

In [57]:
x1 =ohe.fit_transform(df[['town']])

In [58]:
x1 = pd.DataFrame(x1.toarray())

In [59]:
x1

      0    1    2
0   1.0  0.0  0.0
1   1.0  0.0  0.0
2   1.0  0.0  0.0
3   1.0  0.0  0.0
4   1.0  0.0  0.0
5   0.0  0.0  1.0
6   0.0  0.0  1.0
7   0.0  0.0  1.0
8   0.0  0.0  1.0
9   0.0  1.0  0.0
10  0.0  1.0  0.0
11  0.0  1.0  0.0
12  0.0  1.0  0.0

In [60]:
x1 = x1.iloc[:,1:]

In [61]:
x1

      1    2
0   0.0  0.0
1   0.0  0.0
2   0.0  0.0
3   0.0  0.0
4   0.0  0.0
5   0.0  1.0
6   0.0  1.0
7   0.0  1.0
8   0.0  1.0
9   1.0  0.0
10  1.0  0.0
11  1.0  0.0
12  1.0  0.0

In [62]:
x = pd.concat([x,x1],axis='columns')

In [63]:
x.drop('town',axis=1,inplace=True)

In [64]:
x

    area    1    2
0   2600  0.0  0.0
1   3000  0.0  0.0
2   3200  0.0  0.0
3   3600  0.0  0.0
4   4000  0.0  0.0
5   2600  0.0  1.0
6   2800  0.0  1.0
7   3300  0.0  1.0
8   3600  0.0  1.0
9   2600  1.0  0.0
10  2900  1.0  0.0
11  3100  1.0  0.0
12  3600  1.0  0.0

In [65]:
from sklearn.linear_model import LinearRegression

In [66]:
model = LinearRegression()

In [67]:
model.fit(x,y)

TypeError: Feature names are only supported if all input features have string names, but your input has ['int', 'str'] as feature name / column name types. If you want feature names to be stored and validated, you must convert them all to strings, by using X.columns = X.columns.astype(str) for example. Otherwise you can remove feature / column names from your input data, or convert them all to a non-string data type.

In [68]:
x

    area    1    2
0   2600  0.0  0.0
1   3000  0.0  0.0
2   3200  0.0  0.0
3   3600  0.0  0.0
4   4000  0.0  0.0
5   2600  0.0  1.0
6   2800  0.0  1.0
7   3300  0.0  1.0
8   3600  0.0  1.0
9   2600  1.0  0.0
10  2900  1.0  0.0
11  3100  1.0  0.0
12  3600  1.0  0.0

In [69]:
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [70]:
model.fit(x,y)

TypeError: Feature names are only supported if all input features have string names, but your input has ['int', 'str'] as feature name / column name types. If you want feature names to be stored and validated, you must convert them all to strings, by using X.columns = X.columns.astype(str) for example. Otherwise you can remove feature / column names from your input data, or convert them all to a non-string data type.

In [71]:
model.predict([[2800,1,0]])

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [72]:
X = x.values

In [73]:
X

array([[2.6e+03, 0.0e+00, 0.0e+00],
       [3.0e+03, 0.0e+00, 0.0e+00],
       [3.2e+03, 0.0e+00, 0.0e+00],
       [3.6e+03, 0.0e+00, 0.0e+00],
       [4.0e+03, 0.0e+00, 0.0e+00],
       [2.6e+03, 0.0e+00, 1.0e+00],
       [2.8e+03, 0.0e+00, 1.0e+00],
       [3.3e+03, 0.0e+00, 1.0e+00],
       [3.6e+03, 0.0e+00, 1.0e+00],
       [2.6e+03, 1.0e+00, 0.0e+00],
       [2.9e+03, 1.0e+00, 0.0e+00],
       [3.1e+03, 1.0e+00, 0.0e+00],
       [3.6e+03, 1.0e+00, 0.0e+00]])

In [74]:
model.fit(X,y)

LinearRegression()

In [75]:
model.predict([[2800,1,0]])

array([590775.63964739])

In [76]:
model.predict([[3400,0,0]])

array([641227.69296925])

In [78]:
model.score(X,y)

0.9573929037221872