In [2]:
import pandas as pd

In [3]:
a = [1,2,3]

In [4]:
myVar = pd.Series(a)

In [5]:
myVar

0    1
1    2
2    3
dtype: int64

In [10]:
smaple = {"jay":[99,23,56],"kevin":[100,35,87],"milan":[30,27,97]}

In [11]:
s2 = pd.DataFrame(smaple)

In [12]:
s2

   jay  kevin  milan
0   99    100     30
1   23     35     27
2   56     87     97

In [15]:
s2.loc[0]

jay       99
kevin    100
milan     30
Name: 0, dtype: int64

In [ ]:
namw = pd.read_csv('')